
/services/docs/conf/*
/services/gitlab/conf/*
/services/gitlab-runner/conf/*
/services/jenkins/conf/*
/services/mongodb/conf/*
/services/webhooks/conf/*

/node_modules
/mounts/doc-web-server/node_modules
/mounts/spb-builder/node_modules
/mounts/spb-builder/src/ast-generate/ast-demo-react-cmp.js
