<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>Components | Modules | Blogs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/javascripts/theme.min.css" />

  <!-- javascript -->
  <script src="/javascripts/theme.min.js"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style type="text/css">
    .support-topic-hero {
      height: 310px !important;
      padding-top: 140px !important;
    }
  </style>
</head>
  <div class="navbar navbar-light bg-transparent navbar-expand-lg" role="banner">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="/images/logo-dark.png" class="mr-2 img-fluid" />
        Modules
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">Modules</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="support-topic-hero">
    <div class="container">
      <form>
        <i class="fa fa-search" style="top: 17px;"></i>
        <input type="text" placeholder="Search topics" />
      </form>
    </div>
  </div>

  <div class="support-topic-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="support-topic-body">
            <h3 class="topic-title">
              How do I contact support?
            </h3>
            <div class="min-read">
              3 minutes read
            </div>
            <p>
              React is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go. Pick the pages that describe your business the best and improve your users experience. Track your progress and learn along all the way automatically.
            </p>
            <pre class="bg-light p-3 rounded">class HelloMessage extends React.Component {
  render() {
    return Hello {this.props.name};
  }
}

ReactDOM.render(&lt;HelloMessage name="John" /&gt;, mountNode);</pre>
            <p>
              Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers right out of the box while still getting paid in your preferred currency.
            </p>
            <h4>Step by step</h4>
            <ul>
              <li>
                Gather requirements for new payment integrations and product features, plan and code the implementation and manage its rollout.  
              </li>
              <li>
                Write scalable and maintainable production code.
              </li>
              <li>
                Keep up with latest back-end trends.
              </li>
              <li>
                Integrate with other teams throughout the company to help develop solutions.
              </li>
            </ul>
            <iframe src="https://player.vimeo.com/video/30447882" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>
              Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers right out of the box while still getting paid in your preferred currency.
            </p>
            <p>
              React has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
            </p>
            <div class="article-helpful">
              <p>
                Was this article helpful?
                <a href="#">
                  <i class="ion-thumbsup"></i>
                </a>
                <a href="#">
                  <i class="ion-thumbsdown"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 menu">
          <h3>Overview</h3>
          <ul>
            <li>
              <a href="#">Search</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 newsletter">
          <div class="signup clearfix">
            <p>
              有更新时，发送邮件推送
            </p>
            <form>
              <input type="text" name="email" class="form-control" placeholder="Your email address" />
              <input type="submit" value="Listen" />
            </form>
          </div>
          <a href="#">
            <img src="/images/social/social-tw.png" alt="twitter" />
          </a>
          <a href="#">
            <img src="/images/social/social-dbl.png" alt="dribbble" />
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>